fastapi
uvicorn
python-multipart
psycopg2-binary>=2.9.0
pydantic-settings
pydantic[email]
structlog>=24.1.0

# Database
sqlalchemy
redis
redis-async
psycopg-pool
# security
pyjwt
tenacity


# Messaging
nats-py

# LLM
openai
langchain_core
langgraph
langchain_openai
langchain-google-genai
langgraph-checkpoint-postgres

# Observability & Evaluation
opentelemetry-api
opentelemetry-sdk
python-keycloak
opentelemetry-exporter-otlp-proto-grpc
python-jose[cryptography]

# Unit Testing
pytest
httpx2
pytest-asyncio